{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/regions/regions.css') }}">
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/regions/regions.js') }}"></script>
<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('region_id')
            var modal = $(this)
            modal.find('.modal-body #item-id').val(id)
        })
</script>
{% endblock %}