{% from 'base.html' import not_item_found %}
{% extends 'base.html' %}
{% block title %} Log {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users/styles.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/users/scripts.js') }}"></script>
    <script>
        deleteByDateUserLogModal("{{ url_for('users.delete_by_date_user_log') }}", "{{ url_for('users.log') }}");
    </script>
{% endblock %}
{% block content %}
    <!-- User Log Jumbotron -->
    <section class="users-jumbotron">
        <div class="p-5 mb-4 base-jumbotron">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Log</h1>
                <p class="col-md-8 fs-4">Lorem Ipsum</p>
            </div>
        </div>
    </section>
    <!-- User Log Jumbotron -->

    <!-- User Log Search Box -->
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <input id="searchbox-user-log" type="text" class="form-control"
                           placeholder="Search, Ex: User Added"
                           aria-label=""
                           aria-describedby="button-addon2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group mb-3">
                    <select id="selectbox-user-log" class="form-select" aria-label="">
                        <option selected value="all">All</option>
                        <option value="insert">Insert</option>
                        <option value="update">Update</option>
                        <option value="delete">Delete</option>
                        <option value="login">Login</option>
                        <option value="logout">Logout</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group mb-3">
                    <input type="date" class="form-control" id="datebox-user-log" name="datebox-user-log">
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal"
                        data-bs-target="#delete-by-date-user-log-modal">
                    <i class="fa-solid fa-calendar-days"></i>&nbsp; Delete by date
                </button>
            </div>
            <div class="col-md-2" style="text-align: right">
                <div class="pagination-controls">
                    <button id="prev" class="btn btn-primary"><i class="fa-solid fa-chevron-left"
                                                                 style="color: white"></i></button>
                    <button id="next" class="btn btn-primary"><i class="fa-solid fa-chevron-right"
                                                                 style="color: white"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- User Log Search Box -->

    <!-- User Log Timeline -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card" id="user-timeline-body">
                    <div class="card-body hide-scroll"
                         style="overflow-y: scroll; padding-top: 0rem; padding-bottom: 0rem">
                        <div id="content" class="content-user-log">
                            <div class="not-item-found-user-log" style="display: none">
                                {{ not_item_found() }}
                            </div>
                            {% if user_log_list == [] %}
                            {% else %}
                                <ul class="timeline">
                                    {% for log in user_log_list %}
                                        <li class="event" data-date="{{ log.user_log_date }}">
                                            <h6>It has been done a <span
                                                    class="badge bg-{% if log.user_log_action == 'INSERT' %}success{% elif log.user_log_action == 'UPDATE' %}warning{% elif log.user_log_action == 'DELETE' %}danger{% elif log.user_log_action == 'LOGIN' %}primary{% else %}secondary{% endif %}">{{ log.user_log_action }}</span>
                                            </h6>
                                                    Name: {{ user_functions.get_user(log.fk_user_
                                            {% if log.user_log_action in ['INSERT', 'UPDATE', 'DELETE'] %}
                                                <p>On the table {{ log.user_log_table }}, by
                                                    Username: {{ user_functions.get_user(log.fk_user_id).user_name }},
                                                    withid).user_name }} {{ user_functions.get_user(log.fk_user_id).user_lastname }}</p>
                                                <p>Description: {{ log.user_log_description }}</p>
                                                <strong>
                                                    <p>The Public IP Address is {{ log.user_log_public_ip }}</p>
                                                    <p>The Local IP Address is {{ log.user_log_local_ip }}</p>
                                                </strong>
                                            {% else %}
                                                {% if log.user_log_action == 'LOGIN' %}
                                                    <p>It has occured a login, by user {{ log.fk_user_id }}</p>
                                                    <strong>
                                                        <p>The Public IP Address is {{ log.user_log_public_ip }}</p>
                                                        <p>The Local IP Address is {{ log.user_log_local_ip }}</p>
                                                    </strong>
                                                {% else %}
                                                    <p>It has occured a logout, by user {{ log.fk_user_id }}</p>
                                                    <strong>
                                                        <p>The Public IP Address is {{ log.user_log_public_ip }}</p>
                                                        <p>The Local IP Address is {{ log.user_log_local_ip }}</p>
                                                    </strong>
                                                {% endif %}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Log Timeline -->
    </div>

    <!-- User Log Delete By Date Modal -->
    <div class="modal fade" id="delete-by-date-user-log-modal" tabindex="-1"
         aria-labelledby="delete-by-date-user-log-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete by date</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body
                ">
                    <p>Choose the date to delete the logs from</p>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="date-user-log-delete" name="date-user-log-delete">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="delete-by-date">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- User Log Delete By Date Modal -->
{% endblock %}
