{% from 'macros.html' import delete_modal, delete_select_modal, delete_all_modal %}
{% extends 'base.html' %}
{% block title %} Users {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users/styles.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/users/scripts.js') }}"></script>
    <script>
        deleteAllModal("{{ url_for('users.delete_all_users') }}", "{{ url_for('users.users') }}", 'users');
        deleteSelectModal("{{ url_for('users.bulk_delete_user') }}", "{{ url_for('users.users') }}", 'user');
    </script>
{% endblock %}
{% block content %}
    <!-- Users Jumbotron -->
    <section class="users-jumbotron">
        <div class="p-5 mb-4 base-jumbotron">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Users</h1>
                <p class="col-md-8 fs-4">Lorem Ipsum</p>
                <a href="{{ url_for('users.add_user') }}" class="btn btn-primary btn-lg" type="button"><i
                        class="fa-solid fa-plus"></i> Create New User</a>
            </div>
        </div>
    </section>
    <!-- Users Jumbotron -->

    <!-- Users Database -->
    <section class="users-database pt-3">
        <div class="container w-75">
            <div class="row">
                <div class="col-12 col-md-8 text-left">
                    <h2 class="sites-database-title"><b>Available</b> Users</h2>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-end">
                    <button type="button" class="btn btn-md btn-danger me-2" data-bs-toggle="modal" id="delete-select"
                            data-bs-target="#delete-select-modal">
                        <i class="fa-solid fa-square-minus"></i>&nbsp; Delete Selected
                    </button>
                    <button type="button" class="btn btn-md btn-dark" data-bs-toggle="modal" id="delete-all"
                            data-bs-target="#delete-all-modal">
                        <i class="fa-solid fa-trash"></i>&nbsp; Delete All
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Users Database -->

    <!-- Users Separator -->
    <section class="users-separator">
        <div class="container w-75">
            <hr>
        </div>
    </section>
    <!-- Users Separator -->

    <!-- Users Table -->
    <section class="users-table hide-scroll pt-3 pb-3">
        <div class="container w-75" id="regions-table-c">
            <table class="table table-responsive" id="datatable-object">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Privileges</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in user_list %}
                    <tr>
                        <td class="text-center"><label for="user-{{ user.user_id }}"></label>
                            <input type="checkbox" class="form-check-input" id="user-{{ user.user_id }}">
                        </td>
                        <th scope="row">{{ user.user_id }}</th>
                        <td>{{ user.user_username }}</td>
                        <td>{{ user.user_name }}</td>
                        <td>{{ user.user_lastname }}</td>
                        <td>{{ user.user_privileges }}</td>
                        <td><h5><span
                                class="badge bg-{{ 'success' if user.user_state == 1 else 'danger' }}">{{ "Active" if user.user_state == 1 else "Inactive" }}</span>
                        </h5></td>
                        <td>
                            <a href="{{ url_for('users.update_user', user_id=user.user_id) }}" type="button"
                               class="btn btn-sm btn-warning"><i class="fa-solid fa-edit"></i></a>
                            <button type="button" id="delete-button-user-{{ user.user_id }}"
                                    class="btn btn-sm btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#delete-modal"
                                    data-id="{{ user.user_id }}"
                                    data-type="site"
                                    data-url="{{ url_for('users.delete_user', user_id=user.user_id) }}"
                                    data-name="{{ user.user_username }}"
                            ><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <!-- Users Table -->

    <!-- Delete Modals -->
    <div class="delete-modal-container">{{ delete_modal() }}</div>
    <div class="delete-select-modal-container">{{ delete_select_modal() }}</div>
    <div class="delete-all-modal-container">{{ delete_all_modal() }}</div>
    <!-- Delete Modals -->
{% endblock %}
