{% extends 'base.html' %}


{% block title %} {{ "Sites / Add" if site is none else "Sites / Update" }} {% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sites/styles.css') }}">
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/sites/scripts.js') }}"></script>
<script>
    // Check if the checkbox is checked
    document.addEventListener('DOMContentLoaded', () => {
        const siteCheck = document.getElementById('site-check');
        const siteForm = document.querySelector('form');

        // Add event listener to the form to verify if the checkbox is checked
        siteForm.addEventListener('submit', (e) => {
            if (!siteCheck.checked) {
                e.preventDefault();
                alert('Please accept the terms and conditions');
            }
        });
        // Add event listener to the form to verify if the checkbox is checked
    });
</script>
{% endblock %}


{% block content %}


<!-- Sites Jumbotron -->
<section class="sites-jumbotron">
    <div class="p-5 mb-4 base-jumbotron">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{ "Add Site" if site is none else "Update Site" }}</h1>
            <p class="col-md-8 fs-4">Lorem Ipsum</p>
        </div>
    </div>
</section>
<!-- Sites Jumbotron -->


<!-- Sites Forms -->
<section class="sites-forms">
    <div class="container-fluid w-75 pb-3">
        <form action="{{ url_for('sites.add_site') if site is none else url_for('sites.update_site', site_id=site.site_id) }}"
              method="POST">
            <div class="form-group">
                <label class="mb-2" for="site_name">Site's Name</label>
                <input value="{{ site.site_name if site is not none }}" type="text" class="form-control mb-2"
                       id="site_name" name="site_name" placeholder="Enter site's name">
            </div>
            <div class="row">
                <div class="col">
                    <label class="mb-2" for="fk_region_id">Region</label>
                    <select class="form-select" id="fk_region_id" name="fk_region_id" aria-label="Region Selector">
                        <option selected>Choose a region</option>
                        {% for region in regions_list %}
                        {% if site is not none and region.region_id == site.fk_region_id %}
                        <option value="{{ region.region_id }}" selected>{{ region.region_name }}</option>
                        {% else %}
                        <option value="{{ region.region_id }}">{{ region.region_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label class="mb-2" for="site_name">Site's Segment</label>
                    <input value="{{ site.site_segment if site is not none }}" type="number" class="form-control mb-2"
                           id="site_segment" name="site_segment" placeholder="Enter site's name">
                </div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="site-check">
                <label class="form-check-label" for="site-check">I've read and accept that the data provided will be
                    used to create or update a new site.</label>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{{ url_for('sites.sites') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</section>
<!-- Sites Forms -->


{% endblock %}