/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    background: #E4E9F7;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 101; /* Higher than .home-section */
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
    height: inherit; /* Ensure sidebar takes full height */

}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
}

.logo-icon {
    display: flex;
    height: 50px;
    align-items: center;
    text-decoration-line: none;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 18px;
}

.sidebar .logo-details .a-logo {
    width: calc(100% - 78px);
    display: flex;
    align-items: center;
    text-decoration-line: none;
}

.sidebar .logo-details span {
    padding-left: 10px;
}

.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover {
    background: #1d1b31;
}

.sidebar .nav-links li .sub-menu {
    padding: 14px 6px 14px 40px;
    background: #1d1b31;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.home-section {
    position: relative;
    background: #E4E9F7;
    transition: all 0.5s ease;
    margin-left: 78px
}


/*Make a transition when it */
.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #E4E9F7;
    overflow: hidden;
    transition: background-color 0.3s ease, opacity 0.3s ease, border-bottom-left-radius 0.3s ease, border-bottom-right-radius 0.3s ease, border-top-left-radius 0.3s ease;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

.profile-content {
    position: relative;
}

.user-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex; /* Change to block to enable transitions */
    width: 100%; /* Adjust based on your layout */
    padding: 0 0.5rem 5.25rem;
    opacity: 0; /* Initially hidden */
    transform: translateY(100%); /* Start hidden below the visible area */
    transition: opacity 0.5s, transform 0.5s; /* Smooth transition for both properties */
    pointer-events: none; /* Prevent interaction when it's invisible */
}

.user-actions .dropdown-item {
    display: flex;
    width: 100%;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s ease;
}


#logout-button:hover {
    background-color: #F03A47;
}

#profile-button:hover {
    background-color: rgba(123, 226, 255, 0.76);
}

/* Default width for .dropdown-menu when sidebar is open */
.dropdown-menu {
    flex-direction: column;
    width: 100%; /* Adjust based on your layout */
    transition: width 0.2s ease; /* Smooth transition for width adjustment */
}

/* Adjusted width for .dropdown-menu when sidebar is closed */
.sidebar.close .profile-details .user-actions .dropdown-menu {
    width: 100%; /* Adjust based on your layout when sidebar is closed */
}

.user-actions.visible {
    opacity: 1; /* Make it fully visible */
    transform: translateY(0); /* Move it to its natural position */
    pointer-events: auto; /* Allow interaction */
}

.profile-content img {
    cursor: pointer;
}

/* Ensure sidebar overlaps content on phone views */
@media (max-width: 768px) {
    .sidebar {
        width: 260px; /* Adjust based on your sidebar width */
        position: fixed; /* Ensure sidebar is positioned over content */
        left: 0; /* Ensure sidebar is positioned at the left edge */
        overflox-y: hidden;
    }

    .home-section {
        position: relative; /* Ensure this is positioned relative to allow z-index to work */
        left: 0; /* Ensure content is not shifted by sidebar */
        overflox-y: hidden; /* Hide horizontal overflow */
        height: max-content;
        margin-left: 78px;
    }

    .sidebar .home-section {
        padding-left: 78px;

    }

    .profile-details {
        height: auto;
    }

    .sidebar.close .profile-details {
    }

    .nav-links {
        overflow: hidden;
    }

    .user-actions {
        height: auto;
    }

    .user-actions.visible {
        opacity: 1; /* Make it fully visible */
        transform: translateY(0); /* Move it to its natural position */
        pointer-events: auto; /* Allow interaction */
    }
}