{% extends 'base.html' %}

{% block title %} Regions {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/regions/styles.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/regions/scripts.js') }}"></script>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<section class="regions-jumbotron">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Regions</h1>
            <p class="col-md-8 fs-4">Lorem Ipsum</p>
            <a href="{{ url_for('regions.add_region') }}" class="btn btn-primary btn-lg" type="button"><i class="fa-solid fa-plus"></i> Create New Region</a>
        </div>
    </div>
</section>

<section class="regions-database pt-3">
    <div class="container">
        <h2 class="regions-database-title">Regions <b>Availables</b></h2>
    </div>
</section>

<section class="regions-separator">
    <div class="container">
        <hr>
    </div>
</section>

<section class="regions-table pt-3 pb-3">
    <div class="container" id="regions-table-c">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Region's Name</th>
            </tr>
            </thead>
            <tbody>
            {% for region in regions_list %}
            <tr>
                <th scope="row">{{ region.region_id }}</th>
                <td>{{ region.region_name }}</td>
                <td>
                    <a href="{{ url_for('regions.update_region', region_id=region.region_id) }}" class="btn btn-warning" type="button"><i class="fa-solid fa-edit"></i> Edit</a>
                    <a href="{{ url_for('regions.delete_region', region_id=region.region_id) }}" class="btn btn-danger" type="button"><i class="fa-solid fa-trash"></i> Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}