.sites-table {
    overflow-x: scroll;
}

.base-jumbotron-background {
    position: relative;
    background: url("../../img/banner-site.svg");
    background-size: cover;
    width: fit-content;
    height: 100%;
    z-index: 2;
}
