{% extends 'base.html' %}


{% block title %} {{ "Router / Add" if router is none else "Router / Update" }} {% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/routers/styles.css') }}">
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/routers/routers.js') }}"></script>
<script>
    // Check if the checkbox is checked
    document.addEventListener('DOMContentLoaded', () => {
        const siteCheck = document.getElementById('router-check');
        const siteForm = document.querySelector('form');

        // Add event listener to the form to verify if the checkbox is checked
        siteForm.addEventListener('submit', (e) => {
            if (!siteCheck.checked) {
                e.preventDefault();
                alert('Please accept the terms and conditions');
            }
        });
        // Add event listener to the form to verify if the checkbox is checked
    });

    // Check if the session information checkbox is checked
    document.addEventListener('DOMContentLoaded', () => {
        const routerCheck = document.getElementById('router-check-session-info');
        const routerSessionForm = document.querySelector('.router-session-information-form');

        routerCheck.addEventListener('click', () => {
            // Check if the checkbox is checked
            if (routerCheck.checked) {
                routerSessionForm.style.transition = 'opacity 1.0s';
                routerSessionForm.style.display = 'block';
                routerSessionForm.style.opacity = '1';
            } else {
                routerSessionForm.style.transition = 'opacity 0.25s';
                routerSessionForm.style.opacity = '0';
                setTimeout(() => {
                    routerSessionForm.style.display = 'none';
                }, 150);
            }
        });
    });
    // Check if the session information checkbox is checked

</script>
{% endblock %}


{% block content %}


<!-- Routers Jumbotron -->
<section class="router-jumbotron">
    <div class="p-5 mb-4 base-jumbotron">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Add Router</h1>
            <p class="col-md-8 fs-4">Lorem Ipsum</p>
        </div>
    </div>
</section>
<!-- Routers Jumbotron -->


<!-- Routers Forms -->
<section class="routers-forms">
    <div class="container-fluid w-75 pb-3">
        <form action="{{ url_for('routers.add_router') if router is none else url_for('routers.update_router', router_id=router.router_id) }}"
              method="POST">
            <h2> Basic Information </h2>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="mb-2" for="router_name">Router's Alias <span style="color: red">*</span> </label>
                        <input value="{{ router.router_name }}" type="text" class="form-control mb-2"
                               id="router_name" name="router_name" placeholder="Enter router's alias" required>
                    </div>
                </div>
                <div class="col">
                    <label class="mb-2" for="fk_site_id">Router's Site <span style="color: red">*</span></label>
                    <select class="form-select" id="fk_site_id" name="fk_site_id" aria-label="Site Selector" required>
                        <option value="">Choose a site</option>
                        {% for site in sites_list %}
                        {% if router is not none and router.fk_site_id == site.site_id %}
                        <option value="{{ site.site_id }}" selected>{{ site.site_name }}</option>
                        {% else %}
                        <option value="{{ site.site_id }}">{{ site.site_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mt-1 mb-3 form-switch">
                <input type="checkbox" class="form-check-input" id="router-check-session-info">
                <label class="form-check-label" for="router-check-session-info"> &nbsp; Add Router's Session
                    Information</label>
            </div>
            <div class="router-session-information-form" style="display: none">
                <hr>
                <h2> Router's Session Information </h2>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="mb-2" for="router_ip">Router's IP Address <span
                                    style="color: red">*</span>
                            </label>
                            <input value="" type="text" class="form-control mb-2"
                                   id="router_ip" name="router_ip" placeholder="Enter router's IP address">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="mb-2" for="router_mac">Router's MAC Address</label>
                            <input value="" type="text" class="form-control mb-2"
                                   id="router_mac" name="router_ip" placeholder="Enter router's MAC address">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="mb-2" for="router_ip">Router's Username <span
                                    style="color: red">*</span></label>
                            <input value="" type="text" class="form-control mb-2"
                                   id="router_username" name="router_username" placeholder="Enter router's username"
                            >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="mb-2" for="router_password">Router's Password <span
                                    style="color: red">*</span></label>
                            <input value="" type="text" class="form-control mb-2"
                                   id="router_password" name="router_password" placeholder="Enter router's password"

                            >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="mb-2" for="session-connection-type">Connection Type <span
                                style="color: red">*</span></label>
                        <select class="form-select" id="session-connection-type" name="session-connection-type"
                                aria-label="Connection Type Selector">
                            <option value="">Choose a connection type</option>
                            <option value="ssh">SSH</option>
                            <option value="api">API</option>
                            <option value="api_ssl">API SSL</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="mb-2" for="router_brand">Router's Brand</span></label>
                            <input value="Mikrotik" type="text" class="form-control mb-2"
                                   id="router_brand" name="router_brand" placeholder="Enter router's brand" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="mb-2" for="router_model">Router's Model</span></label>
                            <input value="" type="text" class="form-control mb-2"
                                   id="router_model" name="router_model" placeholder="Enter router's model">
                        </div>
                    </div>
                </div>
                <div class="mt-1 mb-3 form-switch">
                    <input type="checkbox" class="form-check-input" id="router-allow-remote-access"
                           name="router_allow_remote_access">
                    <label class="form-check-label" for="router-allow-remote-access"> &nbsp; Allow Remote
                        Connection</label>
                </div>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{{ url_for('routers.routers') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</section>
<!-- Routers Forms -->


{% endblock %}