.hide-scroll {
    overflow: hidden;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */

    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for others */
    scrollbar-width: none;
}

.base-jumbotron {
    color: white;
    background: rgb(33, 37, 41);
    background: linear-gradient(221deg, rgba(33, 37, 41, 1) 15%, rgba(48, 61, 74, 1) 40%, rgba(59, 81, 93, 1) 65%, rgba(54, 93, 115, 1) 82%);
}
