{% extends 'base.html' %}
{% block title %} {{ "Router / Add" if router is none else "Router / Update" }} {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/routers/styles.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/routers/scripts.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Routers Jumbotron -->
    <section class="routers-jumbotron">
        <div class="p-5 mb-4 base-jumbotron">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">{{ "Add Router" if router is none else "Update Router" }}</h1>
                <p class="col-md-8 fs-4">Lorem Ipsum</p>
            </div>
        </div>
    </section>
    <!-- Routers Jumbotron -->

    <!-- Routers Forms -->
    <section class="routers-forms">
        <div class="container-fluid w-75 pb-3">
            <form action="{{ url_for('routers.add_router') if router is none else url_for('routers.update_router', router_id=router.router_id) }}"
                  method="POST">
                <h2> Basic Information </h2>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="router_name">Router Name</label>
                            <input type="text" class="form-control" id="router_name" name="router_name"
                                   value="{{ router.router_name if router is not none else '' }}" maxlength="128" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="router_description">Router Description</label>
                            <input type="text" class="form-control" id="router_description" name="router_description"
                                   value="{{ router.router_description if router is not none else '' }}" maxlength="256" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="router_brand">Router Brand</label>
                            <input type="text" class="form-control" id="router_brand" name="router_brand"
                                   value="Mikrotik" maxlength="128" disabled>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="router_model">Router Model</label>
                            <input type="text" class="form-control" id="router_model" name="router_model"
                                   value="{{ router.router_model if router is not none else '' }}" maxlength="128" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="fk_site_id">Router Site</label>
                            <select class="form-select" id="fk_site_id" name="fk_site_id" required>
                                <option value="" selected disabled>Select a Site</option>
                                {% for site in site_list %}
                                    <option value="{{ site.site_id }}"
                                            {% if router is not none and router.fk_site_id == site.site_id %} selected {% endif %}>
                                        {{ site.site_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <hr>
                <h2> Session Information </h2>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="router_ip">Router IP Address</label>
                            <input type="text" class="form-control" id="router_ip" name="router_ip"
                                   value="{{ router.router_ip if router is not none else '' }}" maxlength="16" pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="router_mac">Router MAC Address</label>
                            <input type="text" class="form-control" id="router_mac" name="router_mac"
                                   value="{{ router.router_mac if router is not none else '' }}" maxlength="17" pattern="^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="router_username">Router Username</label>
                            <input type="text" class="form-control" id="router_username" name="router_username"
                                   value="{{ router.router_username if router is not none else '' }}" maxlength="128" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="router_password">Router Password</label>
                            <input type="password" class="form-control" id="router_password" name="router_password"
                                   value="{{ router.router_password if router is not none else '' }}" maxlength="128" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-2 pb-2">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="allow_scan" name="allow_scan" {% if router is not none and router.allow_scan == 1 %} checked {% endif %}>
                          <label class="form-check-label" for="allow_scan">Allow Remote Scan</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="condition-check">
                    <label class="form-check-label" for="condition-check">I've read and accept that the data provided will be
                        used to create or update a new router.</label>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
                        <button type="submit" class="btn btn-primary">{{ "Add Router" if router is none else "Update Router" }}</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Routers Forms -->
{% endblock %}